@page
@model IndexModel
@{
    ViewData["Title"] = "Visit reservation System";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Visit reservation System</h1>
    <p>Here, patients and doctors come together in a modern environment that facilitates scheduling medical appointments .</p>
</div>